@page "/"

<h1>Lox!</h1>
<button class="btn btn-primary" @onclick="Run">Run</button>

@if (Samples != null)
{
    <select @onchange="SelectSample">
        @foreach (var sample in Samples)
        {
            <option value="@sample">@sample</option>
        }
    </select>
}

<textarea rows="20" style="width: 100%" @bind="Source" @bind:event="oninput"></textarea>
<div>
    @if (Output != null)
    {
        @foreach (var line in Output)
        {
            @line
            <br />
        }
    }
</div>
